[Desktop Entry]
Name=NetControl
GenericName=Удалённый рабочий стол
Comment=Удалённый доступ к рабочим местам
Exec=netcontrol %u
Icon=netcontrol
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=удалённый;доступ;remote-control;remote-desktop;p2p;rdp;vnc;netcontrol;
Actions=new-window;
StartupWMClass=netcontrol

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Открыть новое окно
Exec=netcontrol %u
